<h1>The Endangered Animals List </h1>
{{#each nameData}}
<p>{{this.name}}</p>
{{/each}}
{{#each threatData}}
<p>{{this.threat}}</p>
{{/each}}
{{#each photoData}}
 <a href={{this.url}}>
    <img src={{this.image}} alt={{this.title}} />
    {{/each}}