

<h1>The Endangered Animals List </h1>
<p>{{threatData}}</p>
<p>{{nameData}}</p>
{{!-- 
{{#each searchedAnimal}}
<p>{{this.name}}</p>
<a herf="/animal/{{this.taxonomy.scientific_name}}"> {{this.taxonomy.scientific_name}}</a>
<p>{{this.taxonomy.scientific_name}}</p>
{{/each}} --}}

{{#each photoData}}
 <a href={{this.url}}>
    <img src={{this.image}} alt={{this.title}} />
    {{/each}}


