<html>
  <head>
    <title>{{error}}</title>
    <title>{{title}}</title>
    {{!-- {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}} --}}
  </head>
  <body>
    <h2>{{message}}</h2>
    <p>{{description}}</p>
  </body>
</html>