 <div class="container mt-5">
        <h1 class="page__title">Features of {{animalData.[0].name}}</h1>
        
        <div class="row">
            <div class="col-md-6">
                <a href="{{animalData.[0].photoData.url}}" target="_blank">
                    <img src="{{animalData.[0].photoData.image}}" alt="{{animalData.[0].photoData.title}}" class="img-fluid">
                </a>
            </div>
            <div class="col-md-6">
                <h2>Threat Status: {{threatData}}</h2>
                
                <h2>Taxonomy</h2>
                <p>Kingdom: {{animalData.[0].taxonomy.kingdom}}</p>
                <p>Phylum: {{animalData.[0].taxonomy.phylum}}</p>
                <p>Class: {{animalData.[0].taxonomy.class}}</p>
                <p>Order: {{animalData.[0].taxonomy.order}}</p>
                <p>Family: {{animalData.[0].taxonomy.family}}</p>
                <p>Genus: {{animalData.[0].taxonomy.genus}}</p>
                <p>Scientific name: {{animalData.[0].taxonomy.scientific_name}}</p>
            </div>
        </div>

        <h2>Locations</h2>
        {{#each animalData}}
        <p>Location: {{this.locations}}</p>
        {{/each}}

        <h2>Characteristics</h2>
        <p>Habitat: {{animalData.[0].characteristics.habitat}}</p>
        <p>Predators: {{animalData.[0].characteristics.predators}}</p>
        <p>Lifespan: {{animalData.[0].characteristics.lifespan}}</p>
        <p>Weight: {{animalData.[0].characteristics.weight}}</p>
        <p>Height: {{animalData.[0].characteristics.height}}</p>

        <h2>Related News</h2>
        {{#each newsData.news}}
        <a href="{{this.Url}}">
            <h4>{{this.Title}}</h4>
        </a>
        <p><small>{{this.PublishedOn}}</small></p>
        <p>{{this.Description}}</p>
        {{/each}}
    </div>